{{ define "header" }}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>{{ .Title }}</title>
		<link rel="stylesheet" href="/assets/output.css" />
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
        <link rel="manifest" href="/assets/favicons/site.webmanifest">
	</head>
	<body class="flex flex-col w-full h-screen">
		<nav class="navbar bg-base-100">
			<div class="flex-1">
				<a href="/" class="text-3xl btn btn-ghost">Snek</a>
			</div>
            {{ if .showCurrentScore }}
            <h2 class="flex flex-1 gap-2">Score: <span id="score">0</span></h2>
            {{ end }}
			<div class="flex-none">
				<ul class="px-1 menu menu-horizontal">
					<li><a href="/">Play</a></li>
					<li><a href="/scores">Scores</a></li>
				</ul>
			</div>
		</nav>
		{{ end}}

