{{ template "header" . }}
<canvas id="canvas" class="w-[80vw] h-[80vh] bg-neutral m-auto"></canvas>
<script src="/wasm/wasm_exec.js"></script>
<script>
	async function runWasm() {
		const go = new Go();
		const result = await WebAssembly.instantiateStreaming(fetch("/wasm/main.wasm"), go.importObject);
		go.run(result.instance);
	}
	runWasm();
</script>
<script>
	window.handleGameOver = function (score) {
		const username = prompt("Game Over! Please enter your name to save your score:");
		if (username !== null) {
			fetch("/saveScore", {
				method: "POST",
				headers: {
					"Content-Type": "application/x-www-form-urlencoded",
				},
				body: `name=${encodeURIComponent(username)}&score=${encodeURIComponent(score)}`,
			})
				.then((response) => response.json())
				.then((data) => {
					window.location.href = "/scores";
				})
				.catch((error) => {
					console.error("Error:", error);
				});
		}
	};
</script>
<script>
	const appleImage = new Image();
	appleImage.src = "/assets/apple.png";

	window.drawAppleAtPoint = function (ctx, x, y, width, height) {
		if (appleImage.complete) {
			ctx.drawImage(appleImage, x, y, width, height);
		} else {
			appleImage.onload = function () {
				ctx.drawImage(appleImage, x, y, width, height);
			};
		}
	};
</script>

{{ template "footer" . }}
